/node_modules
/public/hot
#/public/storage
/public/js/app.js
/public/css/app.css
/public/css/vendor.css
/public/admin/js/app.js
/resources/assets/js/ziggy.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/build
/docs
_html
laravel-echo-server.json
.php_cs.cache
public/mix-manifest.json
